*.retry

venv/
VENV/

.vscode/
*.swp
.idea/

__pycache__
*.pyc

vault.txt
inventory/scaleway.ini
ansible_imr_cache/

!**/*.env

# Unversionned galaxy role
roles/plex
roles/plexupdate
roles/tautulli
roles/s3fs-fuse
roles/docker_arm
roles/pip