---
- src: https://github.com/bastiaanvanassche/ansible-role-s3fs-fuse.git
  version: master
  name: s3fs-fuse

- src: https://github.com/wilmardo/ansible-role-plex.git
  version: master
  name: plex

- src: https://github.com/wilmardo/ansible-role-plexupdate.git
  version: master
  name: plexupdate

- src: https://github.com/wilmardo/ansible-role-tautulli.git
  version: master
  name: tautulli

- src: https://github.com/geerlingguy/ansible-role-docker_arm
  version: master
  name: docker_arm

- src: https://github.com/geerlingguy/ansible-role-pip
  version: master
  name: pip